@page

<ul>
	<li>
		<a href="/Pass">PASS - This example does not start with the unicode character ¿</a>
	</li>
	<li>
		<a href="/Fail">FAIL - This example does start with the unicode character ¿</a>
	</li>
</ul>